/*Slider*/

.slider{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.slider-image-container{
    display: flex;
    transition: 2s;
}

.slider-image{
    width: 100vw;
}

.slider-left-button{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-left-button i{
    font-size: 10vw;
    
}
.slider-right-button{
    position: absolute;
    top: 35%;
    right: 5%;
}
.slider-right-button i{
    font-size: 10vw;
}
.slider-content{
    position: absolute;
    color: white;
    text-align: center;
     width: 100%;
     top: 20%;
}
.slider-content h1{
    font-size: 5vw;
}
.slider-content button{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   color: #1D232C;
}

.contact-form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
  }

  .contact-form h2 {
    margin-bottom: 1vw;
   
  }

  .contact-form label {
    display: block;
    margin-bottom: 1vw;
 
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
    
  }

  .contact-form textarea {
    resize: vertical;
    height: 10vh;
  }

  .contact-form input[type="submit"] {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  